.Contador input {
    font-size: 1.4rem;
    width: 80px;
}

.Contador button{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #4099D3;
    color: #fff;
    font-size: 1.4rem;
    border: none;
}